@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .loginCard {
    background-color: rgba(17, 24, 39);
    border-radius: theme("borderRadius.lg");
    padding: theme("spacing.6");
    box-shadow: theme("boxShadow.xl");
  }
  /* ... */
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
}
