@tailwind base;

h1 {
  @apply text-2xl;
}
h2 {
  @apply text-xl;
}
h3 {
  @apply text-lg;
}
h5 {
  @apply text-[0.83em];
}
h6 {
  @apply text-[0.67em];
}
a {
  @apply text-blue-600 underline;
}

@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
}

.ant-layout-sider-children {
  position: relative;
}

#root
  > div
  > section
  > aside
  > div.ant-layout-sider-children
  > ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.account.ant-menu-inline-collapsed
  > li
  > div {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root
  > div
  > section
  > aside
  > div.ant-layout-sider-children
  > ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-dark.account.ant-menu-inline-collapsed
  > li
  > div
  > span {
  display: none;
}

.account .ant-menu-item-selected {
  background-color: #000c17 !important;
}

/* .account .; */
.account > li > ul li:hover {
  background-color: #1890ff !important;
}

.ant-table-tbody > tr {
  height: 60px !important;
}

.ant-table-tbody > tr > * {
  padding: unset 0 !important;
}

.ant-notification-notice-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* page prve and  next */
.ant-pagination-item-link > span {
  display: flex;
  justify-content: center;
  align-items: center;
}
